$red: #f44336;
$white-off: #f2f2f2;


@mixin opacity($opacity) {
  -webkit-opacity: $opacity;
     -moz-opacity: $opacity;
      -ms-opacity: $opacity;
          opacity: $opacity;
}

body{
	background: $white-off;
}

h1{
	text-align: center;
}

.collection{
	height: 500px;
	overflow: scroll;
}

.shared{
	@include opacity(0.25);
}

/*type*/
.txt-red{
	color: $red!important;
}